<head>
    <style> body { margin: 0; } </style>
  
    <script src="//unpkg.com/3d-force-graph"></script>
    <script src="//cdn.rawgit.com/neo4j/neo4j-javascript-driver/1.4.1/lib/browser/neo4j-web.min.js"></script>
    <!--<script src="../../dist/3d-force-graph.js"></script>-->
  </head>
  
  <body>
    <div id="3d-graph"></div>
  
    <script>
    //   const driver = neo4j.v1.driver("bolt+routing://90bfd895.databases.neo4j.io", neo4j.v1.auth.basic("got", "got"),{encrypted: true});
      const driver = neo4j.v1.driver("bolt://localhost:7687", neo4j.v1.auth.basic("neo4j", "neo4j"),{encrypted: false});
      const session = driver.session();
      const start = new Date()
      session
        .run('match (b:Broadcast {id:354})--(q) return b.id as source ,q.id as target limit $limit', {limit: 1000})
        .then(function (result) {
          const links = result.records.map(r => { return {source:r.get('source').toNumber(), target:r.get('target').toNumber()}});        
          session.close();
          console.log(links.length+" links loaded in "+(new Date()-start)+" ms.")
          const ids = new Set()
          links.forEach(l => {ids.add(l.source);ids.add(l.target);});
          const gData = { nodes: Array.from(ids).map(id => {return {id:id}}), links: links}
          const Graph = ForceGraph3D()(document.getElementById('3d-graph')).graphData(gData);
        })
        .catch(function (error) {
          console.log(error);
        });
    </script>
  </body>