<!-- <article class="guide"> -->
    <carousel class="deck container-fluid">
      <slide class="row-fluid">
        <div class="col-sm-3">
          <h3>Title one</h3>
          <p class="lead">First lead</p>
        </div>
        <div class="col-sm-9">
          <p>This is the content in the main column.</p>
          <ol class="big">
            <li>Load: create data from external CSV files</li>
            <li>Index: index nodes based on label</li>
            <li>Relate: transform foreign key references into data relationships</li>
            <li>Promote: transform join records into relationships</li>
          </ol>
        </div>
      </slide>
      <slide class="row-fluid">
        <div class="col-sm-3">
          <h3>Title two</h3>
          <p class="lead">Second lead</p>
        </div>
        <div class="col-sm-9">
          <figure>
            <pre class="pre-scrollable code runnable">CREATE INDEX ON :Product(productID)</pre>
            <figcaption>Find the produce suppliers.</figcaption>
          </figure>
          <figure>
            <pre class="pre-scrollable code runnable">CREATE INDEX ON :Category(categoryID)</pre>
          </figure>
          <figure>
            <pre class="pre-scrollable code ruvimnnable">CREATE INDEX ON :Supplier(supplierID)</pre>
          </figure>
          <h3>More code</h3>
          <ul class="undecorated">
            <li><a play-topic="movie-graph">Movie Graph</a> - actors &amp; movies</li>
            <li><a play-topic="query-template">Query Templates</a> - common ad-hoc queries</li>
            <li><a play-topic="cypher">Cypher</a> - query language fundamentals</li>
          </ul>
        </div>
      </slide>
    </carousel>
  <!-- </article> -->